<{% extends 'base.html' %}
	{% block content %}
	
	<form method = "GET">
    	{{ form }}
    	<input type = "submit" value = "Submit">
	</form>	

	<div class="shell">

	{% for game in mlbGames %}

	

    		<div class="box_scores">
			{% if game.home_score > game.away_score %}
				<div class="box home_abrv"style="background-color:ForestGreen;">{{game.home_abbr}}</div>
				<div class="box away_abrv">{{game.away_abbr}}</div>
				<div class="box home_name"style="background-color:ForestGreen;">{{game.home_name}}</div>
				<div class="box away_name">{{game.away_name}}</div>
				<div class="box home_score"style="background-color:ForestGreen;"> {{game.home_score}}</div>
				<div class="box away_score">{{game.away_score}}</div>
			{% elif  game.away_score > game.home_score %}
				<div class="box home_abrv">{{game.home_abbr}}</div>
				<div class="box away_abrv"style="background-color:ForestGreen;">{{game.away_abbr}}</div>
				<div class="box home_name">{{game.home_name}}</div>
				<div class="box away_name"style="background-color:ForestGreen;">{{game.away_name}}</div>
				<div class="box home_score">{{game.home_score}}</div>
				<div class="box away_score" style="background-color:ForestGreen;"> {{game.away_score}}</div>
			{% else %}
				<div class="box home_abrv">{{game.home_abbr}}</div>
				<div class="box away_abrv">{{game.away_abbr}}</div>
				<div class="box home_name">{{game.home_name}}</div>
				<div class="box away_name">{{game.away_name}}</div>
				<div class="box home_score">{{game.home_score}}</div>
				<div class="box away_score"> {{game.away_score}}</div>
			{% endif %}

		</div>

	<hr style="clear:both;">
			
	{% endfor %}

	</div>


	<style type="text/css" media="screen">
	.shell{
  		
		display: flex;
  		flex-flow: row wrap;
		align-content: flex-start;
		justify-content: center;
		margin:10px;
  		box-sizing: border-box;
  		margin-left: auto;
  		margin-right: auto;
		/*justify-content: space-evenly;*/
		align-content: space-end;
  		background: rgba(114, 186, 94, 0.05);
  		border: 2px dashed rgba(114, 186, 94, 0.35);
	}
	.box_scores {
  		display: grid;	
  		column-gap: 0.5px;
  		grid-template-columns: auto auto auto;
  		grid-template-rows: auto auto;
  		background-color: #1e1a1a;
  		padding: 5px;
  		width: 75%;
  		max-width: 500px;
		border-radius: 10px;
  
	}
	.box {
  		background-color: rgba(210, 210, 210, 0.8);
 		/*border: 3px solid rgba(28, 191, 109, 0.8);*/
		border: 3px solid rgba(30,30,30,1.0);
  		padding: 20px;
  		font-size: 25px;
  		text-align: center;
		/*text-shadow: 2px 2px white;*/
		text-transform: uppercase;
   		justify-content: end;
	}

	.home_abrv{
  		grid-column: 1;
  		grid-row:1;
	}

	.away_abrv{
 		grid-column:1;
  	grid-row:2;
	}
	.home_name{
  		grid-column:2;
  		grid-row:1;
	}
	.away_name{
  
  	grid-column:2;
  	grid-row:2;
	}
	.home_score{
  	grid-column:3;
  	grid-row:1;
	}
	.away_score{
  	grid-column:3;
  	grid-row:2;
	}

	</style>

{% endblock %}

