<{% extends 'base.html' %}
	{% load static %}
	{% block content %}
	
	<body>
	<style>

	body{
		background-image: url("https://images.unsplash.com/photo-1471295253337-3ceaaedca402?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1168&q=80");
		height:500px;

		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	</style>	
		

	<form method = "GET">
    	{{ form }}
    	<input type = "submit" value = "Submit">
	</form>	

	

	<div class="shell">

	{% for game in mlbGames %}
    		<div class="box_scores">
			{% if game.home_score > game.away_score %}
				<img class="box logo"" src="{% static game.home_logo_path %}">
				<img class="box logo" src="{% static game.away_logo_path %}">
				<div class="box home_name"style="background-color:ForestGreen;">{{game.home_name}}</div>
				<div class="box away_name">{{game.away_name}}</div>
				<div class="box home_score"style="background-color:ForestGreen;"> {{game.home_score}}</div>
				<div class="box away_score">{{game.away_score}}</div>
			{% elif  game.away_score > game.home_score %}
				<img class="box logo" src="{% static game.home_logo_path %}">
				<img class="box logo" src="{% static game.away_logo_path %}">	    
				<div class="box home_name">{{game.home_name}}</div>
				<div class="box away_name"style="background-color:ForestGreen;">{{game.away_name}}</div>
				<div class="box home_score">{{game.home_score}}</div>
				<div class="box away_score" style="background-color:ForestGreen;"> {{game.away_score}}</div>
			{% else %}
				<img class="box logo" src="{% static game.away_logo_path %}">
				<img class="box logo" src="{% static game.home_logo_path %}">
				<div class="box home_name">{{game.home_name}}</div>
				<div class="box away_name">{{game.away_name}}</div>
				<div class="box home_score">{{game.home_score}}</div>
				<div class="box away_score"> {{game.away_score}}</div>
			{% endif %}
		</div>

					
	{% endfor %}

	</div>
	</body>

	<style type="text/css" media="screen">
	
	*,
	*;before,
	*:after {
		box-sizing: border-box;
	}
	.shell{
		max-width: 1920px;
		margin: 0 20px;
		grid-gap: 10px;
	}
	.shell{
		display: flex;
		flex-wrap: wrap;
	}
	.shell{
		display: grid;
		margin: 0 auto;
		grid-template-columns: repeat(auto-fill, 500px);
  		grid-auto-rows: minmax(225px, auto);
		justify-content: center;	
	}
	.shell > * {
  		background-color: #444;
  		color: #000000;
  		border-radius: 2px;
  		padding: 5px;
  		font-size: 150%;
  		margin-bottom: 10px;			
	}
	@supports (display: grid) {
  		.shell > * {
    			margin: 0;
  		}
	}
	.box_scores {
		display: grid;
		grid-gap: 5px;
		grid-template-columns: 150px 175px 150px;
		grid-template-rows: auto auto;
  		background-color: #1e1a1a;
		border-radius: 10px;	
	}
	.box {
  		background-color: rgba(230, 230, 230, 0.8);
 		border: 3px solid rgb(70,70,70);
		padding: 10px;
  		font-size: 25px;
		align-items: center;
		justify-content: center;
		display:flex;
		text-transform: uppercase;
		overflow:hidden;
		text-overflow: ellipsis;
		
	}
	.box:hover{
		overflow: visible;
	}
	.logo{
		width: 150px;
		height: 150px;
	}

	.home_name{
		padding-left:25px;
  		grid-column:2;
  		grid-row:1;
	}
	.away_name{
		padding-left:25px;
		grid-column:2;
  		grid-row:2;
			}
	.home_score{
  		grid-column:3;
  		grid-row:1;
			}
	.away_score{
  		grid-column:3;
  		grid-row:2;
		
	}

	</style>

{% endblock %}

