{% extends 'base.html' %}
{% block title %}HOME | Sports | News | Weather{% endblock %}
{% load static %}
{% block extra_css %}
    <link href="{% static 'css/home.css' %}" type="text/css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="px-4 pt-5 my-5 text-center">
        <h1 class="display-4 fw-bold">Placeholder Sports&trade;</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">
            Welcome to Placeholder Sports&trade;! Here you can view baseball scores, browser relevant news, and see current weather. 
            Use this site to plan your next trip to the park!
          </p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <!-- <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Primary button</button> -->
            <!-- <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button> -->
          </div>
        </div>
        <div class="overflow-hidden" style="max-height: 30vh;">
          <div class="container px-5">
            <img src="https://cdn.discordapp.com/attachments/974390914409709630/982053715886354514/AgileSWGroup4Logo.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="SportsNewsWeather" width="700" height="500" loading="lazy">
          </div>
        </div>
      </div>
</div>
<footer class="page-footer">
    <div class="footer-copyright text-center py-3">
        <a href="https://github.com/DalglishJeremy/AgileSWGroup4" target="_blank">
            <img src="{% static 'data/imgs/GitHub-Mark-Light-32px.png' %}" alt="">
        </a>
    </div>
</footer>
{% endblock %}