{% extends 'base.html' %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>News</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
</head>
<body>
    <div>
        <form type="get" action="{% url 'News_search' %}" style="margin: 0">
            <input  id="search_box" type="text" name="search_box"  placeholder="Search..." >
            <button id="search_submit" type="submit" >Submit</button>
        </form>
    </div>
    <section class="section">
        <div class="container">
            <div class="rows">
                <div class="column is-offset-16 is-10">
                    {% if not mylist %}
                    <h1>
                        No Search Results found
                    </h1>
                    {% else %}
                    {% for title, desc, pic, url in mylist %}
                    <div class="box">
                        <article class="media" >
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{ title }}</span>
                                        <br>
                                        <a href="{{url}}">
                                        <img src="{{ pic }}" alt="">
                                        </a>
                                        <span class="subtitle">{{ desc }}</span>
                                        
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
    </footer>
</body>
{% endblock %}