{% extends 'base.html' %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>News</title>
</head>
<body>
    <div class="container" style="padding-top: 5%;">
        <div class="row">
            <div class="col-6">
                <div class="section-title">
                    <h4 class="m-0 text-uppercase font-weight-bold">Latest Sports News</h4>
                    <a class="text-secondary font-weight-medium text-decoration-none" href="{% url 'News' %}">View All</a>
                </div>
            </div>
            <div class="col-6">
                <form>
                    <div class="form-group" type="get" action="{% url 'News_search' %}" style="float: right;">
                        <input  class="form-control" id="search_box" type="text" name="search_box"  placeholder="Search...">
                        <button class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2" id="search_submit" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        {% for title, desc, pic, url, source, date in mylist %}
            {% if forloop.counter0|divisibleby:2 %}
            <div class="row text-center mt-5">
            {%  endif %}
                <div class="col-lg-6">
                    <div class="position-relative mb-3">
                        <img class="img w-100 h-100"  src="{{ pic }}" style="object-fit: cover;">
                        <div class="bg-white border border-top-0 p-4">
                            <div class="mb-2">
                                <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                    href="{{url}}">{{source}}</a>
                                <a class="text-body"><small>{{date}}</small></a>
                            </div>
                                <a class="h4 d-block mb-3 text-secondary text-uppercase font-weight-bold" href="{{url}}">{{ title }}</a>
                                <p class="m-0" >{{ desc }}</p>
                        </div>
                    </div>
                </div>
        {%  if forloop.counter|divisibleby:2 or forloop.last %}
            </div><hr>
        {%  endif %}
        {%  endfor %}
    </div><!-- container -->
    <footer class="footer">
    </footer>
</body>
{% endblock %}
