{% extends 'base.html' %}

{% block content %}
<style>
.form-area {
    padding-left: 3em;
    background-color: grey;
}
</style>
<div class="row">
    <div class="form-area col-lg-6 mt-4">
        <form method="POST">
            {% csrf_token %}
            <div class="input-group mb-3">
                {{ form.name }}
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Go</button>
            </div>
        </form>
        <div class="contentframe col-lg-6 mt-4 justify-content-end">
            
            <h4>{{ weather.temperature }}° F |  {{ weather.city }}</h4>
            <h4>Humidity: {{weather.humidity}}</h4>
            <h4>Pressure: {{weather.pressure}}</h4>
            <h4>Country: {{weather.country}}</h4>
            <h4>Sunrise: {{weather.sunrise}}</h4>
            <h4>Sunset: {{weather.sunset}}</h4>
            <h4>Wind Speed: {{weather.windspeed}}</h4>
            <h4>{{ weather.description }}</h4>
        </div>
    </div>
</div>
{% endblock %}