{% extends 'base.html' %}
{% block title %}Today's Weather{% endblock %}
{% load static %}
{% block extra_css %}
    <link href="{% static 'css/weather.css' %}" type="text/css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container-fluid" style="padding: 5%;">
    <div class="weather-search">
        <form method="POST">
            {% csrf_token %}
            <div class="input-group mb-3">
                {{ form.name }}
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Go</button>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="weather-data col">
            {% if weather %}
            <h1 class="display-5">Weather Today</h1>
            <h2>{{ weather.temperature }}° F |  {{ weather.city }}</h2>
            <ul class="weather-info list-unstyled">
                <li>Humidity: {{weather.humidity}}</li>
                <li>Pressure: {{weather.pressure}}</li>
                <li>Country: {{weather.country}}</li>
                <li>Sunrise: {{weather.sunrise}}</li>
                <li>Sunset: {{weather.sunset}}</li>
                <li>Wind Speed: {{weather.windspeed}}</li>
                <li><img src={{ weather.icon }} alt="Weather">{{ weather.description }}</li>
            <ul>
            {% else %}
            <h3>Enter a City to see its Game Day weather</h3>
            {% endif %}
        </div>
        <div class="col">
            {% if weather %}
            <div>
                <iframe class="embed-responsive" src="https://openweathermap.org/weathermap?basemap=map&cities=true&layer=temperature&lat={{ weather.coordlat }}&lon={{ weather.coordlon }}&zoom=5" 
                frameborder="0"
                width="500" height="500"
                ></iframe>
            </div>
            {% endif %}
            {% if alerts %}
            <h1 class="display-5">Alerts</h1>
            {% else %}
            {% endif %}
        </div>
    </div>
</div>
{% if team %}
<div class="tickets-box container-fluid text-white">
    <div class="tickets text-center">
        
        <a href="https://www.mlb.com/{{ team }}/tickets/single-game-tickets" target="_blank">
            <h1>View Tickets for the <img src="{% static abbr %}" alt="{{ team }}" class="team-thumb">{{ team|capfirst }}</h1>
        </a>
    </div>
</div>

{% else %}
{% endif %}
{% endblock %}