/* .bg-white border {
    width:100px;
    text-align:center;
    vertical-align:middle;
}

.bg-white border:after {
    content:'';
    padding-top:100%;
    display:inline-block;
    vertical-align:middle;
} */
